@media only screen and (min-width: 768px) {
  .bartkaFullColumn {
    height: 100vh;
  }
  .bartkaFullCol {
    margin-top: -50vh;
    height: 100vh;
  }
  .bartkaHalfCol {
    height: 50vh;
  }
  .calendarHeaderRow {
    height: 4vh;
  }
  .calendarRow {
    height: 24vh;
  }
  .calendarSatSunRow {
    height: 12vh;
  }
  .responsiveFont {
    font-size: 2.5vh;
  }
  .responsiveHeaderFont {
    font-size: 2.5vh;
  }
}
