.bartkaEmptyCol {
  height: 0vh;
}
.calendarRow {
  height: 15vh;
}
.calendarSatSunRow {
  height: 7.5vh;
}
.day-hover:hover {
  background-color: #ccffff;
}
.calendarCurrentDay {
  background-color: #ccffcc;
}

.responsiveFont {
  font-size: 2vh;
}
.responsiveHeaderFont {
  font-size: 3vh;
}
* {
  border-radius: 0 !important;
}
.form-control::-moz-placeholder {
  color: red;
  opacity: 0.6;
}
.form-control::placeholder {
  color: red;
  opacity: 0.6;
}
/* #LastMonthButton:hover,
#LastWeekButton:hover,
#NextWeekButton:hover,
#NextMonthButton:hover {
  cursor: pointer;
} */
#calendarHeader img {
  height: 2.75vh;
}

a {
  text-decoration: none;
}

.nodeActivity {
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
  font-size: 1.55vh;
  border-radius: 10px !important;
}

.nodeActivitySidePanel {
  margin-left: -12px;
  padding-left: 12px;
  font-size: 1.75vh;
}

/* Users */
.bartosz {
  background-color: #00cccc;
}
.hanna {
  background-color: #ff9933;
}
.joanna {
  background-color: #ff66cc;
}
.staff {
  background-color: #9966cc;
}

/* Nodes  */
.POLAND-DESKTOP1 {
  background: #00cccc;
}

.POLAND-DESKTOP2 {
  background: #00cccc;
}

.OFFICE-DESKTOP1 {
  background: #ff9933;
}

.CHICAGO-TABLET1 {
  background: #ff9933;
}
.CHICAGO-LAPTOP1 {
  background: #ff9933;
}

.OFFICE-DESKTOP2 {
  background: #9966cc;
}

.POLAND-LAPTOP1 {
  background: #ff66cc;
}

.OFFICE-LAPTOP1 {
  background: #9966cc;
}
